* {
    margin: 0;
    padding: 0;


}



html {
    font-size: 20px;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;


}

/* Css variable */
/* :root {
    --navbar-height: 100vw;
} */


#navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: relative;
    background-color: rgb(0, 0, 0, 0.85);
    /* flex-wrap: wrap; */
    position: fixed;
    z-index: +1;

}



/* logo div */
#navbar #logo {
    min-width: 10%;
    max-height: 100%;
    display: flex;
}

/* my image */
#logo img {
    border-radius: 50%;
    max-height: 3rem;
    max-width: 3rem;
    margin: auto;

}

#navbar .myul {
    display: flex;
    justify-content: space-evenly;
    min-width: 80%;
    margin: 0;

}

#navbar .myul li {
    list-style: none;
    font-weight: bold;

}

#navbar .myul li a {
    text-decoration: none;
    color: white;


}

#navbar .myul li a:hover {
    background-color: white;
    color: black;

    padding: 0.2rem 0.7rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.2rem 0.2rem;


}


.slide {
    width: 100vw;
}

.carousel-inner {
    width: 100%
}

.d-block {
    max-height: 105vh;
    max-width: 100%;


}



.ourServices {
    font-size: 3rem;
    text-align: center;
    width: 100vw;
    height: 15vh;
    font-weight: 600;
    margin-bottom: 1rem;

    color: black;

}

.ordering {
    width: 100vw;
    min-height: 48vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;

    gap: 0.5rem;
    /* border: 2px solid rgb(11, 123, 39);   */


}

.ordering-items {
    display: flex;
    flex: 1;

    height: 100%;
    width: 100%;
    border-radius: 1.2rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    background-color: rgb(239, 223, 223);
    border: 1px dashed red;

}

.ordering-items span {
    font-weight: bold;
    font-size: 1.2rem;

}

.sameimg {
    height: 9rem;
    width: 9rem;
    display: block;
    margin: auto;
    display: flex;
    margin: auto;
}

.ordering-items p {

    font-size: 0.6rem;
    font-weight: bold;
}

/* backgrond imagge strak industries */


.client {
    position: relative;
    margin-top: 1rem;

    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.client-bg {
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.99;
    filter: blur(2px);
}


.client-text {
    padding-top: 1.4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
    box-shadow: 1rem 1rem 1rem;

    background: -webkit-linear-gradient(rgb(189, 181, 175), rgb(247, 163, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.client-imgs {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}


.client-imgs img {
    height: 6rem;
    width: 9rem;
    margin: auto;

}

.c-img1:hover,
.c-img2:hover,
.c-img3:hover,
.c-img4:hover {

    margin-top: 1rem;
    margin-right: 1rem;
    transition: 1s;
    transform: scale(1.1);
}

/* upper comic text and icon */



.morecomics {

    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    background-color: gray;
    height: 10vh;
}

.morecomics span:hover,
i:hover {
    color: goldenrod;
}

.morecomics i {
    flex: 0.11;
    padding-left: 3rem;
}


/* comics part */
.comics {
    background-color: gray;
    max-width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
    padding: 1rem 2rem;
}

.each {
    margin: 0.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 1rem 1rem 4rem 0.5rem;
    border-radius: 0.4rem;

}

.each img {
    max-height: 100%;
    max-width: 100%;

}


.each p {
    position: absolute;
    padding: 0.4rem;
    width: 100%;
    min-height: 100%;
    display: none;

}

.each>p>span {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    width: 85%;
}

/* hovering effect of comic images */

.each:hover img {
    transform: scale(1.4);
    transition: 0.4s;
}

.each:hover p {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);

}

.play-btn {
    width: 100vw;
    height: auto;

}













/* on click ma canavaus like youtube ko menu our clients rakhna milxa*/




@media(max-width:870px) {

    html {
        font-size: 18px;
    }

    .myul {
        width: 90%;
    }

    .morecomics {
        height: 9vh;
    }

    .comics {
        padding: 1rem 1rem;
        height: 50vh;
    }

}


@media(max-width:653px) {
    html {
        font-size: 17px;
    }






    .ourServices {
        height: 8vh;
    }

    .ordering-item3 p {
        width: 50%;
        margin: auto;
    }

    .client-text {
        font-size: 2.3rem;
    }

    .client-imgs img {
        padding: 1rem;
    }



    .comics {
        height: 80vh;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .each img {
        width: 100%;
    }

    .each:hover p {
        background-color: rgb(0, 0, 0, 0.6);

    }




}

@media (max-width:450px) {
    html {
        font-size: 12px;
    }

    .myul {
        width: 100%;
    }



    #navbar {
        min-height: 12vh;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        float: right;
        padding-bottom: 0.5rem;
    }


    #navbar .myul {
        width: 100% !important;
        padding: 0;
        font-size: 1.2rem;
        justify-content: space-around;

    }

    .ourServices {
        margin-bottom: 0rem;
    }

    .ordering {
        flex-direction: column;
    }

    .ordering-items {
        width: 95%;
        margin: auto;

    }

    .ordering-items p {
        margin: auto;
        width: 70%;
    }

    .client {
        min-height: 20vh;

    }

    .morecomics {
        padding-top: 1rem;
        height: 5vh;
        font-size: 1.3rem;
    }

    .morecomics i {
        flex: 0.3;
    }

    .comics {
        height: 60vh;

    }

    .each {
        padding: 0;
    }

    .each img {
        margin: auto;
        border-radius: 0.5rem;
    }




}