* {
    margin: 0;
    padding: 0;


}


#loading {
    background-image: url('../preloader.gif');
    background-color: #111;
    width: 100vw;
    height: 100vh;
    z-index: +1;
    position: fixed;
    background-repeat: no-repeat;



}

html {
    font-size: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-arrow-color: aqua;


}

/* Css variable */
/* :root {
    --navbar-height: 100vw;
} */


#navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: relative;
    background-color: rgb(0, 0, 0, 0.85);
    /* flex-wrap: wrap; */
    position: fixed;
    z-index: +1;

}



/* logo div */
#navbar #logo {
    min-width: 10%;
    max-height: 100%;
    display: flex;
}

/* my image */
#logo img {
    border-radius: 50%;
    max-height: 3rem;
    max-width: 3rem;
    margin: auto;

}

#navbar .myul {
    display: flex;
    justify-content: space-evenly;
    min-width: 80%;
    margin: 0;

}

#navbar .myul li {
    list-style: none;

}

#navbar .myul li a {
    text-decoration: none;
    color: white;


}

#navbar .myul li a:hover {
    background-color: white;
    color: black;

    padding: 0.2rem 0.7rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.2rem 0.2rem;


}


.slide {
    width: 100vw;
}

.carousel-inner {
    width: 100%
}

.d-block {
    max-height: 105vh;
    max-width: 100%;


}



.ourServices {
    font-size: 3rem;
    text-align: center;
    width: 100vw;
    height: 15vh;
    font-weight: 600;
    margin-bottom: 1rem;

    color: black;

}

.ordering {
    width: 100vw;
    min-height: 48vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;

    gap: 0.5rem;
    /* border: 2px solid rgb(11, 123, 39);   */


}

.ordering-items {
    display: flex;
    flex: 1;

    height: 100%;
    width: 100%;
    border-radius: 1.2rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    background-color: rgb(239, 223, 223);
    border: 1px dashed red;

}

.ordering-items span {
    font-weight: bold;
    font-size: 1.2rem;

}

.sameimg {
    height: 9rem;
    width: 9rem;
    display: block;
    margin: auto;
    display: flex;
    margin: auto;
}

.ordering-items p {

    font-size: 0.6rem;
    font-weight: bold;
}

/* backgrond imagge strak industries */


.client {
    position: relative;
    margin-top: 1rem;

    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.client-bg {
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    /* opacity: 0.9; */
    filter: blur(2px);
}


.client-text {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;

    background: -webkit-linear-gradient(rgb(189, 181, 175), rgb(247, 163, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.client-imgs {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}


.client-imgs img {
    height: 6rem;
    width: 9rem;
    margin: auto;

}









/* on click ma canavaus like youtube ko menu our clients rakhna milxa*/




@media(max-width:870px) {
    html {
        font-size: 18px;
    }

    .myul {
        width: 90%;
    }

}


@media(max-width:653px) {
    html {
        font-size: 17px;
    }






    .ourServices {
        height: 8vh;
    }

    .ordering-item3 p {
        width: 50%;
        margin: auto;
    }

    .client-text {
        font-size: 2.3rem;
    }

    .client-imgs img {
        padding: 1rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 12px;
    }



    #navbar {
        min-height: 7vh;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        float: right;
    }


    #navbar .myul {
        width: 100%;
       

    }

    .ordering {
        flex-direction: column;
    }

    .ordering-items {
        width: 70%;
        margin: auto;
    }

    .ordering-items p {
        margin: auto;
        width: 90%;
    }

    .client {
        min-height: 20vh;

    }


}
