* {
    margin: 0;
    padding: 0;


}



html {
    font-size: 20px;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;


}



/* Css variable */
/* :root {
    --navbar-height: 100vw;
} */


#navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: relative;
    background-color: rgb(0, 0, 0, 0.85);
    /* flex-wrap: wrap; */
    position: fixed;
    z-index: +1;

}



/* logo div */
#navbar #logo {
    min-width: 10%;
    max-height: 100%;
    display: flex;
}

/* my image */
#logo img {
    border-radius: 50%;
    max-height: 3rem;
    max-width: 3rem;
    margin: auto;

}

#navbar .myul {
    display: flex;
    justify-content: space-evenly;
    min-width: 80%;
    margin: 0;

}

#navbar .myul li {
    list-style: none;
    font-weight: bold;

}

#navbar .myul li a {
    text-decoration: none;
    color: white;
    padding: 0.1rem 0.3rem;

    position: relative;


}

/* #navbar .myul li a:hover {
    background-color: white;
    color: black;

    padding: 0.2rem 0.7rem;
    border-radius: 0.6rem;


} */


.myul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -4px;
    left: -4px;
}

.myul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: -4px;
    right: -4px;

}

.myul li a:hover::before {
    height: 105%;
    width: 115%;
    border-top: 2px solid wheat;
    border-left: 2px solid wheat;
    transition: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);





}

.myul li a:hover::after {
    height: 105%;
    width: 115%;
    border-right: 2px solid wheat;
    border-bottom: 2px solid wheat;

    transition: 1s ease-out;



}




.slide {
    width: 100vw;
}

.carousel-inner {
    width: 100%
}

.d-block {
    max-height: 105vh;
    max-width: 100%;


}



.black-txt {
    font-size: 2.4rem;
    text-align: center;
    width: 100vw;
    height: 12vh;
    font-weight: 600;
    background-color: rgb(53, 53, 53);
    color: goldenrod;
    display: flex;
}

.black-txt span:hover {
    cursor: pointer;

    color: rgb(255, 225, 0);
}


.upcoming {
    min-height: 80vh;
    width: 100vw;
    padding: 1rem 3rem;
    gap: 1rem;
    background-color: rgb(53, 53, 53);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.upcoming .upcoming-heros {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding: 0 1.1rem 0rem 0.4rem;
    box-shadow: 1px 1px 4px 1px #786f6f;
}

.upcoming-heros img {
    margin: auto;
    height: 50%;
    width: 90%;
    border-radius: 0.3rem;
    margin: auto;
}

.upcoming-heros a {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    flex: 0.2;
    font-size: 1.5rem;
}

.upcoming-heros p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;
    flex: 0.6;
}

/* backgrond imagge strak industries */


.client {
    position: relative;

    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.client-bg {
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.99;
    filter: blur(2px);
}


.client-text {
    padding-top: 1.4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;

    background: -webkit-linear-gradient(rgb(189, 181, 175), rgb(247, 163, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.client-imgs {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}


.client-imgs img {
    height: 6rem;
    width: 9rem;
    margin: auto;

}

.c-img1:hover,
.c-img2:hover,
.c-img3:hover,
.c-img4:hover {

    margin-top: 1rem;
    transition: 0.6s;
    transform: scale(1.1);
    cursor: pointer;
}

/* upper comic text and icon */



.morecomics {

    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    background-color: gray;
    height: 10vh;
}

.morecomics i:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.morecomics span:hover {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.morecomics i {
    flex: 0.11;
    padding-left: 3rem;
}


/* comics part */
.comics {
    background-color: gray;
    max-width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
    padding: 1rem 2rem;
}

.each {
    margin: 0.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 1rem 1rem 4rem 0.5rem;
    border-radius: 0.4rem;

}

.each img {
    max-height: 100%;
    max-width: 100%;

}


.each p {
    position: absolute;
    padding: 0.4rem;
    width: 100%;
    min-height: 100%;
    display: none;

}

.each>p>span {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    width: 85%;
}

/* hovering effect of comic images */

.each:hover img {
    transform: scale(1.4);
    transition: 0.4s;
}

.each:hover p {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    cursor: pointer;

}

.play-btn {
    width: 100vw;
    height: auto;
    cursor: pointer;

}


footer {
    max-height: 27vh;
    padding: 1rem 0rem;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 0.9rem;
}

footer img {
    height: 4rem;
    width: 6.5rem;
}

footer div {
    color: #999;
    font-size: 0.75rem;
    display: flex;
    width: 90%;
    flex-wrap: wrap;

}

footer div span {
    padding: 0.1rem 0.4rem;
    flex: auto;
    text-align: center;

}

footer div span:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}









/* on click ma canavaus like youtube ko menu our clients rakhna milxa*/




@media(max-width:870px) {

    html {
        font-size: 18px;
    }

    .myul {
        width: 90%;
    }


    .morecomics {
        height: 9vh;
    }

    .comics {
        padding: 1rem 1rem;
        height: 50vh;
    }

}


@media(max-width:653px) {
    html {
        font-size: 17px;
    }




    .upcoming {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .upcoming :last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }




    .client-text {
        font-size: 2.3rem;
    }

    .client-imgs img {
        padding: 1rem;
    }


    .comics {
        height: 80vh;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .each img {
        width: 100%;
    }

    .each:hover p {
        background-color: rgb(0, 0, 0, 0.6);

    }




}

@media (max-width:450px) {
    html {
        font-size: 12px;
    }

    .myul {
        width: 100%;
    }



    #navbar {
        min-height: 12vh;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        float: right;
        padding-bottom: 0.5rem;
    }


    #navbar .myul {
        width: 100% !important;
        padding: 0;
        font-size: 1.2rem;
        justify-content: space-around;

    }

    .d-block {
        height: 30vh;
    }

    .black-txt {
        height: 10vh;
        font-size: 2rem;
    }



    .upcoming {
        /* height: 100vh; */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .upcoming-heros {
        margin: 0 auto;
        width: 95%;
        max-height: 100%;
    }

    .upcoming-heros img {
        height: 40% !important;
        width: 50% !important;
        margin-top: 1rem;
    }

    .upcoming-heros a {
        flex: 0.2;
    }

    .upcoming-heros p {
        padding: 1rem;
        line-height: 2rem;
    }

    .upcoming :last-child {
        grid-column-start: 1;
        grid-column-end: 1;
        flex: 0.6;
        font-size: 1rem;
    }


    .client {
        min-height: 20vh;

    }

    .morecomics {
        padding-top: 1rem;
        height: 3vh;
        font-size: 1.3rem;
    }

    .morecomics i {
        flex: 0.3;
    }

    .comics {
        height: 60vh;

    }

    .each {
        padding: 0;
    }

    .each img {
        margin: auto;
        border-radius: 0.5rem;
    }


    footer {
        height: 20vh;
    }



}